<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-col mb-4">
        <h4>HopeDose</h4>
        <ul class="list-unstyled">
          <li><a href="./about.html">About us</a></li>
          <li><a href="#">Our services</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Affiliate program</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-col mb-4">
        <h4>Get Help</h4>
        <ul class="list-unstyled">
          <li><a href="#">FAQ</a></li>
          <li><a href="./submit.html">Request</a></li>
          <li><a href="./payment.html">Payment Options</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-col mb-4">
        <h4>Donate & Request</h4>
        <ul class="list-unstyled">
          <li><a href="./Books.html">Books</a></li>
          <li><a href="./toys.html">Toys</a></li>
          <li><a href="./Food.html">Food</a></li>
          <li><a href="./payment.html">Cash</a></li>
          <li><a href="./Others.html">Others</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-col mb-4">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="mt-4">
          <p>Subscribe to our newsletter</p>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Your email">
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; 2025 HopeDose. All rights reserved.
    </div>
  </div>
</footer>